@import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Extenda";
  src: url("/fonts/Extenda_30_Deca.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Movetratn";
  src: url("/fonts/MovetratntrialRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-brand-red: #E50914;
  --font-extenda: "Extenda", sans-serif;
  --font-movetratn: "Movetratn", sans-serif;
  --font-geomini: "Geomini", sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
    @apply font-geomini;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-position: center center;
  }
}